:root {
  --color-background: #fafafa;
  --color-text: #353535;
}

html,
body {
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.tabsContainer {
  display: flex;
  flex: 1; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

code {
  background: var(--color-background);
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
}